*,*::after,*::before{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
    vertical-align: baseline;
}



body{
    background: #eee;
    height: 100vh;
    font-size: 20px;
}
header{
    border-bottom: 1px solid #000;
}
th,td{
    font-weight: 600;
}
thead tr th{
    text-align: center;
    min-width: 120px;
}
.product_li td{
    margin: 10px;
    text-align: center;
}
.isEnabled{
    font-size: 1.25rem;
    font-weight: 600;
    color: green;

    //未啟用
    &:is(.disable){
        color: red;
    }
}

img {
    object-fit: contain;
    max-width: 100%;
}

.mainPhoto{
    height: 300px;
}

.price{
    color:red;
}
.imagesGroup img{
    height: 150px;
}
.product_detail{
    position: relative;
}
.removeBtn{
    right: .5rem;
    top: .5px;
    position: absolute;
}